<ion-header>
  <ion-toolbar>
    <ion-title>Botones Inteligentes</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="https://www.media-tics.com/fotos/8/1475010986690_thumb_400.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Aplicaciones del IoT</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      Se trata de unos dispositivos que se programan para que al pulsarlos suceda alguna acción, desde hacer una transferencia bancaria hasta añadir un evento a tu agenda.
      Los botones inteligentes son aquellos que se pueden programar de una forma sencilla e intuitiva para poder automatizar algunas tareas y transformar apartados analógicos en dispositivos conectados.
      Estos botones inteligentes integran conectividad bluetooth para poder sincronizarse con la aplicación para el teléfono móvil y recibir las instrucciones que ha configurado el usuario.
    </ion-card-content>
  </ion-card>
</ion-content>
