<ion-header>
  <ion-toolbar color="danger">
    <ion-thumbnail slot="end">
      <img src="../../assets/icon/Logo Unilibre Borde blanco Seccional Pereira.png">
    </ion-thumbnail>
    <ion-title style="text-align: center;">Educ_IoT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-img src="https://blog.razberi.net/hs-fs/hubfs/Stock%20images/IOT%20-%20Word%20on%20the%20Place%20of%20Missing%20Puzzle%20Piece%20through%20Magnifier.%20Selective%20Focus..jpeg?width=300&name=IOT%20-%20Word%20on%20the%20Place%20of%20Missing%20Puzzle%20Piece%20through%20Magnifier.%20Selective%20Focus..jpeg"></ion-img>
  </ion-grid>
  <div style="text-align: center;">
    <ion-button  routerLink="/home">
      INICIAR
    </ion-button>
  </div>
</ion-content>