<ion-header>
  <ion-toolbar>
    <ion-title>Fuentes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-card>
    <ion-card-header color="danger">
      <ion-card-title>Acontinuación se presentan las fuentes de donde se extrajo de información</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <a href="https://www.cosasdearquitectos.com/2019/09/7-dispositivos-inteligentes-que-todos-tendremos-en-nuestras-casas-en-pocos-anos/">cosasdearquitectos.com</a>
        </ion-item>
        <br>
        <ion-item>
          <a href="https://es.wikipedia.org/wiki/Dispositivo_inteligente#:~:text=Un%20dispositivo%20inteligente%20es%20un,de%20forma%20interactiva%20y%20aut%C3%B3noma">es.wikipedia.orgg</a>
        </ion-item>
        <br>
        <ion-item>
          <a href="https://www.esic.edu/rethink/tecnologia/internet-las-cosas-aplicaciones#:~:text=Retail%3A%20Una%20aplicaci%C3%B3n%20en%20Internet,%2C%20o%20smartwatches%2C%20entre%20otros">esic.edu</a>
        </ion-item>
        <br>
        <ion-item>
          <a href="https://es.wikipedia.org/wiki/Internet_de_las_cosas">es.wikipedia.org</a>
        </ion-item>
        <br>
        <ion-item>
          <a href="https://ixia.keysight.com/es/resources/key-building-blocks-internet-things-iot">ixia.keysight.com</a>
        </ion-item>
        <br>
        <ion-item>
          <a href="https://es.scribd.com/document/415107742/Cuestionario-Del-Iot">es.scribd.com</a>
        </ion-item>
        <ion-item>
          <a href="https://prezi.com/yvqk4c05lqul/1-que-es-un-dispositivo-inteligente/">prezi.com</a>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-grid>
</ion-content>
