<ion-header>
  <ion-toolbar>
    <ion-title>Zapatillas Inteligentes</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2019/01/nike-adapt-bb.jpg?itok=0VOZxE-o" />
  <ion-card-header>
    <ion-card-subtitle>Aplicaciones del IoT</ion-card-subtitle>
    <ion-card-content style="text-align: justify;">
      Siendo estos una prenda que nos acompaña día a día ahora puede brindar la posibilidad realizar por nosotros múltiples acciones, ¿imaginaste alguna vez que tus zapatos podía atarse solos?, bueno es algo que todo niño en su momento piensa, pero que lo ve lejos de la realidad, bueno pues con esta tecnología no está muy lejos de ser posible y de hecho ya los es, esta zapatillas inteligentes brindan múltiples ayudas, tales como permitir un amarre seguro automáticamente, permitir conexión con dispositivos móviles para enviar información, tales como medir cada paso, indicar el camino a seguir, recogerse de forma autónoma cuando las dejas de usar, estas tiene integrado un chip, el cual se encargara de enviar todos los datos de las actividades que se han realizado mientras se usan la prenda al móvil, uno de sus objetivos en mejorar el rendimiento físico en los deportistas.
      <ion-img src="https://cdn.ticbeat.com/src/uploads/2019/01/nike-e1547721801284-810x727.jpg"></ion-img>
    </ion-card-content>
  </ion-card-header>
</ion-content>